#image{
    float:right;
    width: 49%;
}
#text{
    float: left;
    width: 49%;
    word-spacing: 7px;
    padding: 9%;
    font-size: 25px;
    font-family: cursive;

}
@media (max-width: 600px) {
    body {
      background-color: #87ceeb;
    }
  }